<!DOCTYPE html>
<html lang="zh-CN" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Tailwind Hover 测试</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function values(productName, id, productType, productNum, productAmt, createTime) {
            $('#productName').val(productName)
            $('#productType').val(productType)
            $('#productNum').val(productNum)
            $('#productAmt').val(productAmt)
            $('#createTime').val(createTime)
        }
    </script>

</head>
<body class="p-10 bg-gray-50">

<div class="group w-12 h-12 bg-white rounded-full flex items-center justify-center border border-gray-300 shadow">
    <svg class="w-6 h-6 text-green-300 group-hover:text-green-600 transition duration-200"
         fill="none"
         stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4v16m8-8H4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </svg>
</div>

<tr th:each="obj:${list}">
    <td th:text="${obj.getId()}"></td>
    <td th:text="${obj.getProductName()}"></td>
    <td th:text="${obj.getProductType()}"></td>
    <td th:text="${obj.getProductNum()}"></td>
    <td th:text="${obj.getProductAmt()}"></td>
    <td th:text="${obj.getCreateTime()}"></td>
    <td>
        <button class="btn btn-default btn-primary" data-target="#updateModal" data-toggle="modal"
                th:onclick="values([[${obj.getProductName()}]],[[${obj.getId()}]],[[${obj.getProductType()}]],[[${obj.getProductNum()}]],
                                    [[${obj.getProductAmt()}]],[[${obj.getCreateTime()}]])">
            修改
        </button>
        |
        <button class="btn btn-danger" data-target="#myModal" data-toggle="modal">
            删除
        </button>
    </td>


    <div aria-hidden="true" aria-labelledby="updateModalLable" class="modal fade" id="updateModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                    <h5 class="modal-title" id="updateModalLable">产品修改</h5>
                </div>
                <form class="form-horizontal" id="updateForm" th:action="@{/product/update}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-lg-2">产品名称：</label>
                            <div class="col-lg-9">
                                <input class="form-control" id="productName" name="productName" placeholder="productName"
                                       type="text"></br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">close</button>
                        <button class="btn btn-success" type="submit">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>
